/* Color Palette */
:root {
    --primary: rgb(59, 11, 73);
    --lightest: white;
}

/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: "Press Start 2P", system-ui;
    color: var(--lightest);
}